#bottom{text-align: center;
	    margin: auto;
}
.first-nav{margin: 0px;
	       padding:0px;
}
.li{position: relative;
	float: left;
	margin: 0px;
	padding:0px;
	background-color: #ddcccc;
	list-style: none;
	width: 128px;
	text-align: center;

}
.second-nav{
	       display: none;
	       margin: 0px;
	       padding: 0px;
}


.first-a{position: relative;
        text-decoration: none;
	    display: block;
        padding: 5px;
        color: black;
        clear: both;
        
}
.list{position: relative;
	 width: 128px;
	 margin: 0px;
	 padding: 0px;
	 list-style: none;
     float: left;
     background-color: #ddcccc;
     text-align: center;
 }
 .third-nav{position: absolute;
 	       display: none;
           left: 89px;
           top: 5px;
}
.li-3{
	background-color: #ddcccc;
	list-style: none;
    text-align: center;
    width: 128px;



}
